<div class="spinner_overlay" *ngIf="isLoading">
  <div class="loader">
    <div class="inner1"></div>
    <div class="inner2"></div>
    <div class="inner3"></div>
    <div class="inner4"></div>
  </div>
  <div class="loader1">
    <div class="p">L</div>
    <div class="a" style="margin-top: 50px;">O</div>
    <div class="r">A</div>
    <div class="t" style="margin-top: 50px;">D</div>
    <div class="h">I</div>
    <div class="o" style="margin-top: 50px;">N</div>
    <div class="m">G</div>
  </div>
</div>

<address-list *ngIf="!isLoading && !addressCreationMode" [addressList]="addressList" (newAddress)="createNewAddress()">
</address-list>
<div class="address-container col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" *ngIf="!isLoading && addressCreationMode">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label for="">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label for="">Mobile Phone</label>
        <input type="tele" class="form-control" id="phone" formControlName="phone">
      </div>
    </div>
    <hr>
    <div formGroupName="address" class="row">
      <div class="address">Address</div>
      <div class="form-group col-md-12 col-xs-12">
        <label for="">Pin Code</label>
        <input type="text" class="form-control" id="pin" formControlName="pin">
      </div>
      <div class="form-group col-md-11 col-xs-11">
        <label for="">Area</label>
        <select name="area" id="area" formControlName="area" class="form-control col-xs-10">
          <option value="">Select area</option>
          <option *ngFor="let area of areas">{{area}}</option>
        </select>
      </div>
      <div class="new-address col-md-1 col-xs-1">
        <div class="plus" (click)="addNewAddressLine()">+</div>
      </div>
      <div class="form-group col-xs-12" formArrayName="addressLine">
        <div *ngFor="let control of additionalAddressControls;let i = index" [formGroupName]='i'
          class="additional-address">
          <input type="text" formControlName="addressLine" class="form-control">
        </div>
      </div>
      <div class="form-group col-xs-6">
        <label for="">State</label>
        <input class="form-control" id="state" formControlName="state" [attr.disabled]="disabledFlag">
      </div>
      <div class="form-group  col-xs-6">
        <label for="">City</label>
        <input class="form-control" id="city" formControlName="city" [attr.disabled]="disabledFlag">
      </div>
    </div>
    <hr>
    <div>
      <button class="btn btn-success" type="submit" [disabled]="!addressForm.valid">Submit</button> |
      <button class="btn btn-success" type="button" (click)="onReset()">Clear</button> |
      <button class="btn btn-success" type="button" (click)="addressCreationMode=false">Back</button>
    </div>
  </form>
</div>