.header-container {
  display: flex;
  direction: row;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  font-family: cursive;
  padding: 15px 15px 15px 15px;
  box-shadow: green 0px 0px 5px 0px;
}

.header-text {
  font-size: 30px;
}

.cart-text {
  font-size: 17px;
}

.header-navigation {
  width: 250px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

a {
  color: green !important;
  text-decoration: none;
  border-bottom: unset;
}
a:hover {
  text-decoration: none;
}

.hamburger > span{
  height: 7px;
    display: block;
    width: 48px;
    margin-bottom: 5px;
    position: relative;
    background: green;
    border-radius: 3px;
    z-index: 999;
    transform-origin: 4px 0px;
}

#menu{
  position: absolute;
  padding-left: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    font-size: 25px;
    border: 1px solid green;
    border-radius: 10px;
    list-style-type: none;
    padding-top: 50px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transition: transform 0.5s;
    z-index: 990;
}

li{
 margin: 20px;
}

.hamburger-active {
  transform: translate(0, 0);  
}

.hamburger-inactive {
  transform: translate(-100%, 0); 
}