<!-- <div class="spinner_overlay" *ngIf="isLoading">
  <div class="loader">
    <div class="inner1"></div>
    <div class="inner2"></div>
    <div class="inner3"></div>
    <div class="inner4"></div>
  </div>
</div> -->
<div class="spinner_overlay" *ngIf="isLoading">
  <div class="loader">
    <div class="inner1"></div>
    <div class="inner2"></div>
    <div class="inner3"></div>
    <div class="inner4"></div>
  </div>
  <div class="loader1">
    <div class="p">L</div>
    <div class="a" style="margin-top: 50px;">O</div>
    <div class="r">A</div>
    <div class="t" style="margin-top: 50px;">D</div>
    <div class="h">I</div>
    <div class="o" style="margin-top: 50px;">N</div>
    <div class="m">G</div>
  </div>
</div>

<div class="login-container login-container col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" *ngIf="!isLoading">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="email"
          class="form-control"
          ngModel
          name="email"
          required
        />
      </div>
      <hr />
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="password"
          required
        />
      </div>
      <hr />
      <div class="login-button-section form-group">
        <button class="btn btn-primary" type="submit">
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        <button class="btn btn-primary" type="button" (click)="onSwitch()">
          Switch to {{ !isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
      </div>
    </div>
  </form>
  <ng-container *ngIf="errorMessage">
    <app-alert [message]="errorMessage" (close)="onClose()"></app-alert>
  </ng-container>
</div>
