<!-- <div class="spinner_overlay" *ngIf="isLoading">
    <div class="loader">
      <div class="inner1"></div>
      <div class="inner2"></div>
      <div class="inner3"></div>
      <div class="inner4"></div>
    </div>
  </div> -->

  <div class="col-md-12 col-xs-12" style="margin-top:20px" *ngIf="cartItems.length >0 ">
    <div class="col-md-6 col-xs-12 cart-item-container">
      <cart-items [cartItems]="cartItems" (updateCalculation)=calculation($event) (delete)="onDelete($event)">
      </cart-items>
    </div>
    <div class="col-md-6 col-xs-12 cart-summary" *ngIf="addressList.length > 0 ">
      <cart-summary *ngIf="cartSummary" [cartSummary]="cartSummary" [addressList]="addressList"
        (placeOrderNow)="placeOrder($event)">
      </cart-summary>
    </div>
  </div>
  
  <div *ngIf="!isLoading && cartItems.length === 0">
    <h1>Please add items to the cart</h1>
  </div>