.cart-item-container {
    /* border: 2px solid green; */
    /* box-shadow: rgb(36 175 34) 1px 1px 3px 1px; */
    border-radius: 15px;
  }
  
  .cart-summary {
    padding: 15px;
    /* border: 2px solid green; */
    box-shadow: rgb(36 175 34) 1px 1px 3px 1px;
    border-radius: 15px;
  }
  